header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(tain.jpeg);
	height: 100px;
	background-size: cover;
	background-position: center;
}

.logo{
	height: 1px;
	width: 150px;
}


.main-row{
	float: right;
	list-style: none;
	margin-top: 30px;
}

.main-row li{
	display: inline-block;
	padding-right: 40px;
}

.main-row li a{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
}

.main-row li.active a{
	border: 1px solid white;
}


.main-row li a:hover{
	border: 1px solid white;
	background-color: darkorange;
}

.Search{
	float: right;
	list-style: none;
	margin-top: 30px;
}

.content
{
	min-height: 750px;	
	min-width: 100%;
	background: url(gates.jpeg) no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 50px;
	font-size: 60px;
	color: white;
	padding-bottom: 10px;
}
.content1
{

	min-height: 750px;	
	min-width: 100%;
	background: url(water.jpeg) no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 50px;
	font-size: 60px;
	color: black;
	padding-bottom: 10px;
}


.r{
	position: absolute;
}

.textarea{
	position: left;

}

.content2
{
	min-height: 750px;	
	min-width: 100%;
	background: url(tara.jpeg) no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 50px;
	font-size: 60px;
	color: white;
	padding-bottom: 10px;
}


.content3
{
	min-height: 750px;	
	min-width: 100%;
	background: url(ex.jpeg) no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 50px;
	font-size: 60px;
	color: white;
	padding-bottom: 10px;
}

.content4
{
	min-height: 750px;	
	min-width: 100%;
	background: url(cp.jpeg) no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 50px;
	font-size: 60px;
	color: white;
	padding-bottom: 10px;
}


footer{
	text-align: center;
    min-height: 200px;
    min-width: 100%;
    background-color: grey;
    color: black;
}

.button1{
	font-family: "Roboto", sand-serif;
	width: 100%;
	font-size: 60px;
}

.button2{
	font-family: "Roboto", sand-serif;
	width: 100%;
	font-size: 60px;
}

.button a:hover{
	background-color: darkorange;
}

.box
{
    display: table-cell;
	border:3px; 
	border-style:solid; 
	border-color:black; 
	padding: 1em;
	width: 20%;
	height: 350px;
	font-size: 23px;
}
.box2
{
	display: table-cell;
	border:3px; 
	border-style:solid; 
	border-color:black; 
	padding: 1em;
	width: 20%;
	height: 350px;
	font-size: 23px;
}
.box3
{
	display: table-cell;
	position: top-right;
	border:3px; 
	border-style:solid; 
	border-color:black; 
	padding: 1em;
	width: 20%;
	height: 350px;
	font-size: 23px;
}



